.accordion {
  .accordion-head {
    display: block;
    font-size: 22px;
    width: 100%;
    background: #272727;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #6b6b6b;

    &:after {
      content: '+';
      position: absolute;
      right: 20px;
      top: 50%;
      font-size: 45px;
      transform: translateY(-50%);
      color: #6b6b6b;
    }
  }
  .accordion-body {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 400ms ease;
    text-align: left;

    > div {
      margin: 20px;
    }
  }

  &.active {
    .accordion-body {
      opacity: 1;
      max-height: 10000px;
    }

    .accordion-head {
      &:after {
        content: '-';
      }
    }    
  }
}