section.customer-stories{
  padding: 50px 0 0;

  .block-title {
    max-width: 1050px;
    margin: 0 auto 50px;

    h3 {
      font-size: 36px;
      color: #000;
      letter-spacing: 4.8px;
      text-transform: uppercase;
    }

  }

  .block-slider {
    .block-image, .block-content {
      width: 50%;
    }
    .block-content {
      position: relative;
      background-color: #272727;

      .content-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .cell {
      height: 470px;
      .block-image,
      .block-content {
        height: 100%;
      }

      &:first-child {
        .block-image {
          float: left;
          background: url('../i/gateway/accenture.jpg') no-repeat;
          background-position: center center;
          background-size: cover;
        }
        .block-content {
          float: right;
        }
      }

      &:last-child {
        .block-image {
          float: right;
          background: url("../i/gateway/siemens.jpg") no-repeat;
          background-position: center center;
          background-size: cover;
        }
        .block-content {
          float: left;
        }
      }
      &:after {
        content: '';
        display: block;
        clear: both;
      }
    }

    .block-image img {
      display: none;
    }
    .content-wrapper {
      color: #ffffff;
      width: 80%;
      h4 {
        text-transform: uppercase;
        margin-bottom: 15px;
      }
      p.description {
        color: #ffffff;
        font-size: 32px;
        line-height: 1.2;
      }
      a.button {
        border-radius: 4px;
        background: none;
        color: #ffffff;
        display: inline-block;
        height: auto;
        padding: 14px 45px;
        font-size: 18px;
        border: 1px solid #ffffff;
        text-transform: uppercase;

        &:hover {
          background: #ffffff;
          border-color: #ffffff;
          color: #272727;
        }
      }
    }

  }

  .play-button {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
  }
  @media screen and (max-width: 1000px) {
    .block-title {
      padding: 0 20px;
      h3 {
        font-size: 28px;
        letter-spacing: normal;
      }
      .description {
        display: none;
      }
    }
    .block-slider {
      .cell {
        height: auto;

        .block-content,
        .block-image {
          float: none !important;
          width: 100%;
        }
        .block-image {
          height: 280px;
        }
        .block-content {
          height: 380px;
          h4 {
            font-size: 16px;
          }
          p.description {
            font-size: 20px;
            line-height: 1.5;
          }
        }
      }
      .content-wrapper {
        position: static !important;
        transform: none !important;
        width: 100%;
        padding: 40px 20px 100px;
      }

      .slick-dots {
        bottom: 60px;
      }
    }
  }
}