//@font-face {
//	font-family: HPSimplified;
//	src: url(/src/assets/fonts/latin-e-regular-eot.eot);
//	src: url(/src/assets/fonts/latin-e-regular-eot.eot?#iefix) format("embedded-opentype");
//	src: url("/src/assets/fonts/latin-e-light-woff.woff") format("truetype");
//	src: url("/src/assets/fonts/latin-e-regular-ttf.ttf") format("truetype");
//	font-weight: 400;
//	font-style: normal
//}
//@font-face {
//	font-family: HPSimplifiedLight;
//	src: url(/src/assets/latin-e-regular-eot.eot);
//	src: url(/src/assets/latin-e-light-eot.eot);
//	src: url(/src/assets/latin-e-light-eot.eot?#iefix) format("embedded-opentype");
//	src: url("/src/assets/fonts/latin-e-light-woff.woff") format("woff");
//	src: url("/src/assets/fonts/latin-e-light-ttf.ttf") format("truetype");
//	font-weight: 400;
//	font-style: normal
//}
#body.body,
body {
	margin: 0;
	font-family: HPSimplifiedLight;
	text-align: center
}
#body.body {
	max-width: none
}

.image-center {
	margin: 0 auto
}
.width-60 {
	width: 60%
}
.width-50 {
	width: 50%
}

.width-50-2 {
	width: 49%;
	display: inline-block;
}

.width-40 {
	width: 40%
}
.width-33 {
	width: 33.33%
}
.max-1280 {
	max-width: 1280px
}

.max-780 {max-width: 780px;}
.max-860,
.max-1280 {
	display: flex;
	flex-direction: row
}


.max-860 {
	max-width: 860px
}
.max-860.center {
	margin: 0 auto
}
.max-1920 {
	max-width: 1920px
}
.max-720 {
	max-width: 720px
}
.margin-25 {
	margin-left: 25px
}
.margin-50 {
	margin-top: 50px
}
.padding-sides-25 {
	padding: 0 25px
}
.flex {
	display: flex
}
.text-left {
	text-align: left
}

.heroh1 {
	color: #000;
	font-size: 20px !important; 
	margin-bottom: 1em; 

	@include min-desktop {
		color: #fff;
	}

}
.description {
	font-size: 20px;
	line-height: 30px;
	color: #5a5a5a;
	letter-spacing: .5px
}
.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 500px
}
.flex-between .img-section {
	max-width: 33%
}
.flex-between .img-section:first-child {
	max-width: 20%
}
.flex-between .img-section img {
	width: 100%;
	max-width: 100%
}
.modal-mask {
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	transition: opacity .3s ease
}
.modal-container {
	display: block;
	top: 50%;
	transform: translateY(-50%);
	background: transparent;
	margin: 0;
	width: 100%;
	max-width: 1280px;
	z-index: 100001
}
.video-overlay .modal-container {
	width: 100%;
	max-width: 964px;
	background: transparent;
	position: fixed;
	left: 0;
	right: 0;
	margin: 0 auto
}
.over-hidden {
	overflow: hidden
}
@media (max-width: 800px) {
	.max-1280 {
		flex-direction: column
	}
	.width-60 {
		width: 80%
	}
	.width-50 {
		width: 100%
	}
	.width-40 {
		width: 80%
	}
	.margin-25 {
		margin-left: 0
	}
	.margin-25.width-33 {
		margin-left: 25px
	}

	.description {
		font-size: 16px;
		line-height: 1.25;
		color: #5a5a5a;
		letter-spacing: .2px
	}
	.text-left {
		text-align: center
	}
	.flex-between {
		margin: 0 auto
	}
}
.hide-above-800 {
	display: none
}
.hide-below-800 {
	display: block
}
@media (max-width: 800px) {
	.hide-above-800 {
		display: block
	}
	.hide-below-800 {
		display: none
	}
}
@media (max-width: 671px) {
	.width-33 {
		width: 100%
	}
	.flex {
		display: block
	}
	.margin-25.width-33 {
		margin-left: 0
	}
}
@media (max-width: 497px) {
	.padding-sides-25 {
		padding: 0 10px
	}
}
#app {
	overflow: hidden;
	cursor: default
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #5a5a5a
}
.swiper-pagination .swiper-pagination-bullet {
	background: #fff;
	border: 1px solid #5a5a5a;
	opacity: 1
}
.swiper-slide {
	background-position: 50%;
	background-size: cover
}
.swiper-button-next {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%235a5a5a'/%3E%3C/svg%3E")!important
}
.swiper-button-prev {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%235a5a5a'/%3E%3C/svg%3E")!important
}
.swiper-button-next,
.swiper-button-prev {
	top: 19%!important
}
#hpzvsmac .text-under-image {
	height: auto
}
#hpzvsmac .text-under-image .text-wrapper {
	margin-bottom: 0
}
#equipped .text-above {
	margin-top: 60px
}
.button-with-arrow {
	display: block;
	color: #0171ad;
	font-size: 18px
}
.button-with-arrow,
.custom-button {
	font-family: HPSimplifiedLight, Arial, sans-serif;
	letter-spacing: .1rem;
	text-indent: .1rem;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	cursor: pointer
}
.custom-button {
	display: inline-block;
	width: auto;
	min-width: 200px;
	height: 50px;
	border: none;
	padding: 0 30px;
	border-radius: 3px;
	margin: 0 auto;
	box-sizing: border-box;
	-moz-transition: background-color .4s, color .4s, border-color .4s;
	-o-transition: background-color .4s, color .4s, border-color .4s;
	-webkit-transition: background-color .4s, color .4s, border-color .4s;
	transition: background-color .4s, color .4s, border-color .4s;
	font-size: 1.125rem
}
.custom-button:hover {
	text-decoration: none
}
.primary-button {
	position: relative;
	background-color: #0096d6;
	color: #fff
}
.primary-button:hover {
	background-color: #0171ad
}
.secondary-button {
	position: relative;
	background-color: #fff;
	color: #0096d6;
	border: 1px solid #0096d6
}

.secondary-button:hover {
	color: #fff;
	background-color: #0171ad;
	border-color: #0171ad
}

.white-button {
	position: relative;
	background-color: transparent;
	color: #ffffff;
	border: 1px solid #ffffff;
}


.white-button:hover {
	color: #000;
	background-color: #ffffff;
	border-color: #ffffff;
}

.graph-button {
	position: relative;
	background-color: #272727;
	color: #ffffff;
	border: 1px solid #ffffff;
}


.graph-button:hover {
	color: #272727;
	background-color: #ffffff;
	border-color: #ffffff;
}

.secondary-link {
	outline: none;
	position: relative;
	display: inline-block;
	border: none;
	background-color: transparent;
	font-family: HPSimplifiedLight;
	font-size: 18px;
	line-height: 1.5;
	cursor: pointer;
	padding: 0 15px;
	line-height: .85;
	color: #0171ad;
	letter-spacing: .5px;
	text-decoration: none
}
.secondary-link:hover {
	color: #0171ad
}
.closeButton {
	position: relative;
	display: inline-block;
	display: block;
	width: 34px;
	height: 34px
}
.closeButton:before {
	transform-origin: center center;
	transform: rotate(45deg)
}
.closeButton:after,
.closeButton:before {
	position: absolute;
	content: "";
	top: 16px;
	left: 0;
	width: 34px;
	height: 1px;
	display: block;
	background: #000
}
.closeButton:after {
	transform-origin: center center;
	transform: rotate(-45deg)
}
.closeButton:hover.closeButton:after,
.closeButton:hover.closeButton:before {
	background: #0096d6
}
.closeButton.videoClose {
	float: right;
	top: 30px;
	right: 30px
}
.closeButton.videoClose:after,
.closeButton.videoClose:before {
	right: 0;
	left: auto;
	background: #fff
}
.play-icon-arrow {
	fill: #fff
}
.play-icon {
	opacity: .2;
	transition: opacity .5s;
	fill: #fff
}
.play-button svg {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 130px;
	height: 130px;
	margin-top: -70px;
	margin-left: -65px;
	cursor: pointer
}
@media screen and (max-width: 800px) {
	.poster {
		display: block!important
	}
	.video-360 {
		display: none
	}
}
.poster {
	width: 100%;
	display: none
}
.poster img {
	transform-origin: top center;
	width: 100%;
	height: auto
}
.video-360 {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto
}
.video-360 video {
	display: block;
	width: 100%;
	height: auto
}
* {
	box-sizing: border-box
}
.overlay,
.overlay .button-wrapper {
	//height:0;
}
.modal-mask {
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	transition: opacity .3s ease
}
.modal-container {
	display: block;
	top: 50%;
	transform: translateY(-50%);
	background: transparent;
	margin: 0;
	width: 100%;
	max-width: 1280px;
	z-index: 100001
}
.video-overlay .modal-container {
	width: 100%;
	max-width: 964px;
	background: transparent;
	position: fixed;
	left: 0;
	right: 0;
	margin: 0 auto
}
.popup-item.video-overlay .modal-container>div {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden
}
.popup-item.video-overlay .modal-container>div iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}
@media (max-width: 800px) {
	.overlay,
	.overlay .button-wrapper {
		height: auto
	}
}
.hero-banner {
	position: relative;
	width: 100%;
	cursor: default
}
.hero-banner .image {
	max-height: 720px
}
.hero-banner .image img {
	width: 100%;
	max-width: 100%;
	height: 600px;
	display: block
}
.hero-banner .text-wrapper {
	position: absolute;
	color: #fff;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center
}
.hero-banner .text {
	width: 67%;
	max-width: 800px;
	text-align: center;
	padding: 0 10px;

	.dt-only {
		display: none;
		margin-top: 10px;

		@include desktop {
			display: inline-block;
		}
	}

	.wrap-metric-module {
		margin-bottom: 40px;
	}
}
.text h4 {
	letter-spacing: 2px;
	margin: 0
}
.text h2,
.text h3,
.text h4 {
	text-transform: uppercase
}
.text p {
	margin: 0;
	margin-bottom: 40px;
	margin-top: 20px;
}
.text h3 {
	margin: 0;
	margin-bottom: 12px
}
.text h2 {
	margin: 0;
	margin-bottom: 11px
}
@media only screen and (max-width: 1280px) {
	.hero-banner .image img {
		height: 400px
	}
}
@media only screen and (max-width: 800px) {
	.hero-banner .image img {
		height: 240px
	}
	.hero-banner .text-wrapper {
		position: static;
		flex-direction: column
	}
	.hero-banner .text {
		margin: 50px auto 30px
	}
	.text h4,
	.text p {
		color: #5a5a5a
	}
	.text h2,
	.text h3 {
		color: #000
	}
	.text h3 {
		margin-bottom: 15px
	}
	.text h2 {
		margin-top: 11px
	}
}
.topnav-link-list {
	position: relative
}
.top-menu-marker {
	width: 35px;
	height: 2px;
	background-color: #000;
	text-align: center;
	position: absolute;
	left: 50%;
	right: 0;
	top: 37px;
	transform: scaleX(0)
}
.top-nav a:hover .top-menu-marker {
	transform: scaleX(1)
}
.topnav-link-list:nth-child(3) {
	font-weight: 700
}
.topnav-link-list:nth-child(3) .top-menu-marker {
	transform: scaleX(1)
}
.top-nav {
	background-color: #f2f2f2;
	height: 100px
}
.top-nav .left h3 {
	font-size: 24px;
	line-height: 1.5;
	color: #5a5a5a;
	letter-spacing: 6px;
	text-transform: uppercase;
	text-decoration: none
}
.top-nav a {
	color: #000;
	text-decoration: none
}
.top-nav nav {
	display: flex;
	justify-content: space-between;
	padding: 0 75px;
	height: 100%
}
.top-nav .left,
.top-nav .right {
	display: flex;
	flex-direction: column;
	justify-content: center
}
.top-nav .right {
	height: 100%
}
.link-wrapper {
	//padding-top:30px;display:flex;
}
.link-wrapper a {
	padding-left: 30px;
	display: flex;
	flex-direction: column;
	text-transform: uppercase
}
.link-wrapper a .label {
	display: flex;
	flex-wrap: nowrap;
	max-width: 300px;
	padding: 10px 0;
	font-size: 16px
}
.link-wrapper a:hover .label {
	font-weight: 700
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
	.top-nav nav {
		padding: 0 25px
	}
}
@media screen and (max-width: 800px) {
	.top-menu-marker {
		display: none
	}
	.top-nav {
		height: auto
	}
	.top-nav .left {
		border-bottom: 1px solid #ccc;
		padding: 10px 0
	}
	.link-wrapper {
		justify-content: center;
		padding: 0
	}
	.top-nav nav {
		padding: 0
	}
}
@media screen and (max-width: 670px) {
	.top-nav {
		position: relative
	}
	.top-nav nav {
		padding: 0
	}
	.top-nav .left {
		border-bottom: 1px solid #ccc; //height:30px;font-size:12px;
	}
	.link-wrapper {
		justify-content: center; //padding-top:0;
	}
	.link-wrapper a .label {
		flex-wrap: nowrap;
		font-size: 14px;
		max-width: 85px
	}
	.top-nav .swipe-wrapper .nav-arrow.next {
		border-right: 2px solid;
		border-bottom: 2px solid;
		right: 1em;
		margin-right: -.5em;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg)
	}
	.top-nav .swipe-wrapper .nav-arrow.prev {
		border-left: 2px solid;
		border-bottom: 2px solid;
		left: 1em;
		margin-left: -.5em;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg)
	}
	.top-nav .swipe-wrapper .nav-arrow {
		width: 1em;
		height: 1em;
		display: none;
		border-color: #767676;
		position: absolute;
		top: 55%;
		transition: border .3s;
		-webkit-transition: border .3s;
		background: none;
		z-index: 1000
	}
	.link-wrapper a {
		padding-left: 10px
	}
}
@media screen and (max-width: 497px) {
	.top-menu-marker {
		display: none
	}
	.link-wrapper a .label {
		font-size: 13px
	}
}
.text-above {
	margin-top: 80px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;

}
.no-top-margin .text-above {
	margin-top: 0
}
.text-above h3 {
	font-size: 36px;
	line-height: 45px;
	color: #000;
	letter-spacing: 4.8px;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 12px
}
.text-above .description {
	margin: 0
}
@media only screen and (max-width: 800px) {
	.text-above {
		margin-top: 50px;
		margin-bottom: 25px
	}
	.text-above h3 {
		font-size: 24px;
		line-height: 1.25
	}
	.text-above .description {
		font-size: 18px
	}
}
.buttons-after-text a {
	margin-bottom: 15px
}
.width-33 .text-under-image {
	height: 100%;
	width: 100%
}
.scrolling-panel .width-33 .text-under-image.scaled {
	padding: 0 15px
}
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}
.text-under-image .image {
	position: relative;
	overflow: hidden;
	display: block;
	width: 100%
}
.text-under-image.scaled .image {
	max-height: 61%
}
.text-under-image.icons .image img {
	display: inline-block;
	width: auto
}
.text-under-image .image img {
	max-width: 100%;
	-webkit-transition: all .5s linear;
	transition: all .5s linear;
	display: block;
	width: 100%
}
.text-under-image.scaled .image:hover img {
	-webkit-transform: scale3d(1.05, 1.05, 1.05);
	transform: scale3d(1.05, 1.05, 1.05)
}
.text-under-image .text-wrapper {
	margin-top: 50px;
	margin-bottom: 80px
}
.text-under-image .text-wrapper h4 {
	color: #000;
	letter-spacing: 4px;
	text-transform: uppercase;
	margin: 0
}
.text-under-image .text-wrapper .description {
	width: 85%;
	margin: 11px auto 25px
}
@media (max-width: 800px) {
	.text-under-image img {
		width: auto
	}
	.text-under-image .text-wrapper {
		margin-top: 25px;
		margin-bottom: 50px
	}
	.text-under-image .text-wrapper .description {
		width: 85%
	}
	.text-under-image .text-wrapper .description,
	.text-under-image .text-wrapper h4 {
		font-size: 18px
	}
}
@media (max-width: 497px) {
	.text-under-image .text-wrapper .description {
		width: 100%
	}
}
.stuck {
	position: fixed;
	top: 0
}
.anchor-menu {
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	width: 100%;
	height: 80px;
	max-width: 1920px;
	margin: 0 auto;
	background-color: #fcfcfc;
	border-top: 1px solid #f6f6f6;
	border-bottom: 1px solid #f6f6f6;
	overflow: hidden;
}
.anchor-menu .scroll-panel {
	width: 100%;
	height: 150px;
	max-width: 500px;
	margin: 0 auto;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch
}
.anchor-menu ul {
	display: table;
	width: 100%;
	padding: 28px 0;
	margin: 0
}
.anchor-menu li {
	position: relative;
	display: table-cell;
	min-width: 240px;
	height: 24px;
	border-left: 1px solid #dfdfdf
}
.anchor-menu li:first-child {
	border: none
}
.anchor-menu li.active a {
	cursor: default
}
.anchor-menu li.active .marker {
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	background-color: #0096d6
}
.anchor-menu a:hover {
	text-decoration: none
}
.anchor-menu a.active .label,
.anchor-menu a:hover .label {
	color: #0096d6
}
.anchor-menu a.active+.marker,
.anchor-menu a:hover+.marker {
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-webkit-transform: scaleX(1);
	transform: scaleX(1)
}
.anchor-menu li:first-child:last-child,
.anchor-menu li:first-child:last-child ~ li {
	width: 100%
}
.anchor-menu li:first-child:nth-last-child(2),
.anchor-menu li:first-child:nth-last-child(2)~li {
	width: 50%
}
.anchor-menu li:first-child:nth-last-child(3),
.anchor-menu li:first-child:nth-last-child(3)~li {
	width: 33.33333%
}
.anchor-menu li:first-child:nth-last-child(4),
.anchor-menu li:first-child:nth-last-child(4)~li {
	width: 25%
}
.anchor-menu li:first-child:nth-last-child(5),
.anchor-menu li:first-child:nth-last-child(5)~li {
	width: 20%
}
.anchor-menu li:first-child:nth-last-child(6),
.anchor-menu li:first-child:nth-last-child(6)~li {
	width: 16.66667%
}
.anchor-menu li:first-child:nth-last-child(7),
.anchor-menu li:first-child:nth-last-child(7)~li {
	width: 14.28571%
}
.anchor-menu li:first-child:nth-last-child(8),
.anchor-menu li:first-child:nth-last-child(8)~li {
	width: 12.5%
}
.anchor-menu a {
	position: absolute;
	z-index: 2;
	display: table;
	width: 100%;
	height: 80px;
	top: -28px;
	text-decoration: none
}
.anchor-menu .text {
	display: table-cell;
	text-align: center;
	vertical-align: middle
}
.anchor-menu a .label {
	-moz-transition: color .2s;
	-o-transition: color .2s;
	-webkit-transition: color .2s;
	transition: color .2s;
	color: #000;
	font-family: HPSimplifiedLight;
	font-size: 1.125rem;
	line-height: 1.25;
	letter-spacing: .1rem;
	text-indent: .1rem;
	text-transform: uppercase
}
.anchor-menu .descriptor {
	color: #757678;
	font-family: HPSimplifiedLight;
	font-size: .875rem;
	letter-spacing: .05rem;
	text-indent: .05rem;
	margin-top: 3px
}
.anchor-menu .marker {
	-moz-transition: -moz-transform .25s;
	-o-transition: -o-transform .25s;
	-webkit-transition: -webkit-transform .25s;
	transition: transform .25s;
	-moz-transform: scaleX(0);
	-ms-transform: scaleX(0);
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	position: absolute;
	z-index: 1;
	left: 50%;
	bottom: -12px;
	width: 40px;
	height: 2px;
	margin-left: -20px;
	background-color: #0096d6
}
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.text-beside-image {
	display: flex;
	justify-content: center;
	align-items: center
}
.text-beside-image .image-wrapper {
	order: 1
}
.text-beside-image.image-right .image-wrapper {
	order: 2
}
.text-beside-image.image-right .text-wrapper {
	order: 1
}
.text-beside-image .image-wrapper img {
	max-width: 100%;
	width: 100%;
	display: block;
	min-height: 0
}
.text-beside-image .image-wrapper .bkg-img,
.text-beside-image.on-background .image-wrapper img {
	display: none
}
.text-beside-image.on-background .image-wrapper .bkg-img {
	max-width: 100%;
	width: 100%;
	display: block;
	height: 500px;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat
}
.text-beside-image .text-wrapper {
	order: 2;
	padding: 20px 50px
}
.text-beside-image .text-wrapper h4 {
	text-transform: uppercase;
	color: #000;
	margin: 0;
	letter-spacing: 3.2px;
	font-size: 30px;
	line-height: 37px
}
.text-beside-image .text-wrapper .description {
	margin: 20px 0 30px
}
.text-beside-image .text-wrapper.text-left a {
	margin-left: 0
}
.text-beside-image .text-wrapper.text-left a:nth-of-type(2) {
	margin-top: 20px
}
@media (min-width: 1400px) {
	.text-beside-image .text-wrapper .description {
		max-width: 76%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px
	}
	.storiesSection .hide-below800  .text-wrapper{
		color: #ffffff !important;
	}

	.storiesSection .hide-below-800 h4 {
		font-size: 24px;
		color: #ffffff;
	}

	.storiesSection .hide-below-800 .description {
		font-size: 44px;
		line-height: 48px;
		color: #ffffff;
	}

	.resourcesSection .text-beside-image .text-wrapper .description {
		max-width: 85%;
	}

	.text-beside-image .text-wrapper.text-left .description {
		max-width: none;
		margin-left: 0;
		margin-right: 0
	}
}
@media (max-width: 800px) {
	.text-beside-image,
	.text-beside-image.on-background .image-wrapper img {
		display: block
	}
	.text-beside-image.on-background .image-wrapper .bkg-img {
		display: none
	}
	.text-beside-image .text-wrapper {
		padding: 50px 20px;
		max-width: 500px;
		margin: 0 auto
	}
	.text-beside-image .text-wrapper h4 {
		font-size: 20px;
		line-height: 25px;
		letter-spacing: 1.6px
	}
	.text-beside-image .text-wrapper .description {
		font-size: 18px;
		line-height: 27px
	}
	.text-beside-image .text-wrapper.text-left a {
		margin-left: auto;
		margin-right: auto
	}
}
.graph-wrapper {
	color: #fff;
	padding-top: 1px
}
.graph-wrapper .text-above .description,
.graph-wrapper .text-above h3 {
	color: #fff
}
.graph-wrapper .button-wrapper {
	padding-top: 100px
}
.graph-animation {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	font-size: 0;
	text-align: center;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap
}
.graph-animation .cell {
	width: 20%;
	max-width: 220px;
	padding: 0 20px
}
.graph-animation .graph {
	height: 400px
}
.graph-animation .caption {
	opacity: 0;
	margin-top: 20px;
	color: #fff;
	font-size: 1.125rem;
	text-align: center
}
.graph-animation .spec {
	display: inline-block;
	height: 400px;
	padding: 0 8px
}
.graph-animation .bar-wrapper {
	position: relative;
	display: inline-block;
	width: 8px;
	height: 400px;
	vertical-align: bottom
}
.graph-animation .bar {
	position: absolute;
	bottom: 0;
	width: 8px;
	height: 0;
	border-radius: 4px
}
.graph-animation .label {
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	transform-origin: bottom left;
	display: inline-block;
	opacity: 0;
	width: 0;
	margin-left: 23px;
	font-family: HPSimplifiedLight;
	font-size: 1rem;
	text-align: left;
	white-space: nowrap;
	vertical-align: bottom
}
.graph-animation .xlabel {
	display: inline-block;
	opacity: 0;
	height: 400px;
	margin-left: 23px;
	border: 1px solid orange
}
.graph-animation .xlabel span {
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	transform-origin: bottom left;
	font-family: HP Simplified Light;
	font-size: 1rem;
	text-align: left;
	white-space: nowrap;
	vertical-align: bottom
}
.graph-animation .value-a .bar {
	background-color: #767676
}
.graph-animation .value-a .label {
	color: #767676
}
.graph-animation .value-b .bar {
	background-color: #0096d6
}
.graph-animation .value-b .label {
	color: #0096d6
}
@media screen and (max-width: 800px) {
	.graph-wrapper {
		padding-bottom: 50px
	}
	.graph-wrapper .button-wrapper {
		padding-top: 50px
	}
	.graph-animation .cell {
		width: 100%;
		margin: 20px auto
	}
	.graph-animation .bar-wrapper,
	.graph-animation .graph,
	.graph-animation .spec {
		height: 300px
	}
}
@media screen and (max-width: 497px) {
	.graph-animation .bar-wrapper,
	.graph-animation .graph,
	.graph-animation .spec {
		height: 265px
	}
}
.comparison-table .text-wrapper {
	margin-bottom: 0
}
.desktop-buttons {
	display: block
}
.mobile-buttons {
	display: none
}
.table {
	display: flex;
	justify-content: center;
	padding-bottom: 130px
}
.row {
	padding: 10px
}
.row .title {
	font-size: 18px;
	color: #666;
	letter-spacing: .5px
}
.row .title,
.row .value {
	font-family: HPSimplifiedLight
}
.row .value {
	font-size: 36px
}
.horizontal-line {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 3%
}
.horizontal-line hr {
	color: #919191
}
.comparison-table .image {
	width: 380px;
	height: 380px;
	background-color: #f5f5f5
}
.comparison-table .image:last-child img {
	margin-top: 33%
}
.column1 {
	margin-right: 10%
}
@media screen and (max-width: 800px) {
	.comparison-table .image {
		width: 90%;
		height: 100%;
		margin: 0 auto
	}
}
@media screen and (max-width: 670px) {
	.row .title {
		font-size: 18px
	}
	.row .value {
		font-size: 20px
	}
	.column1 {
		margin-right: 5%
	}
	.desktop-buttons {
		display: none
	}
	.mobile-buttons {
		display: block
	}
}
.copyright {
	font-size: 12px
}
.copyright .title {
	//padding:10px 0;
}
.footnotes-module {
	text-align: left
}
.footnotes-module__content.closed {
	max-height: 0
}
.js-disclaimer__content {
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s
}
.footnotes-module__content {
	max-height: 600px;
	overflow: hidden;
	max-width: 1280px;
	margin: 0 auto;
}
.footnotes-module {
	display: none;
	box-sizing: border-box;
	font-family: HPSimplified, Arial;
	background-color: #e8e8e8;
	width: 100%;

	@include desktop {
		display: block;
	}
}
.module {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-size: contain
}
.footnotes-module__wrapper {
	width: 100%;
	margin: 0 auto
}
.footnotes-module__header {
	text-align: right;
	padding: 20px 30px 22px;
	border-bottom: 2px solid #ccc
}
.disclaimer__header-title {
	font-size: 18px;
	line-height: 1.25;
	min-width: 21px;
	height: 21px;
	outline: none;
	position: relative
}
.js-disclaimer__header-title.closed:before {
	content: "+"
}
.disclaimer__header-title:before {
	content: "-";
	width: 28px;
	height: 28px;
	margin-right: 8px;
	text-align: center;
	color: #0096d6;
	font-size: 18px;
	font-weight: 700
}
.disclaimer__content {
	font-family: HPSimplifiedLight, Arial;
	font-size: 13px;
	line-height: 1.25;
	color: #000;
	margin: 0 auto
}
.disclaimer__content-wrapper {
	box-sizing: border-box;
	display: block;
	padding: 20px 33px 30px
}

.disclaimer__content-wrapper > p {font-size: 12px;font-family: HPSimplifiedLight, Arial;}

.disclaimer__content-wrapper ol {
	padding-left: 13px;
	li {
		font-family: HPSimplifiedLight, Arial;
		font-size: 12px;
		line-height: 1.25;
    margin-bottom: 1em;
    letter-spacing: .5px;
	}
}
.body a,
.body a:link,
a {
	text-decoration: none
}
.disclaimer__header-title:hover,
.disclaimer__header-title:link,
.disclaimer__header-title:visited {
	text-decoration: none;
	color: #767676
}
.section {
	padding-top: 1px
}
* {
	box-sizing: border-box
}
.gallery-item .modal-container {
	background-color: #fff;
	position: absolute;
	top: 0!important;
	transform: none;
	margin-top: 50px; //max-width:868px;
}
.gallery-item .modal-container .video-container {
	position: relative
}
.gallery-item .modal-container .video-item {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	margin-bottom: 20px
}
.gallery-item .modal-container .video-item iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}
.gallery-item .modal-container .video-container .text-video {
	padding: 0 75px
}
.gallery-item .modal-container .video-container .text-video.video-title {
	letter-spacing: .5px;
	line-height: 1;
	margin-bottom: 10px
}
.gallery-item .modal-container .panel-thumbs {
	display: flex;
	overflow: hidden;
	margin: 20px auto;
	padding: 0 75px;
	justify-content: space-between
}
.gallery-item .modal-container .panel-thumbs a.play-trigger {
	margin-right: 31px;
	margin-left: 0;
	padding: 0;
	border: 0;
	max-width: 160px
}
.gallery-item .modal-container .panel-thumbs a.play-trigger:last-child {
	margin-right: 0
}
.gallery-item .modal-container .panel-thumbs a.play-trigger .video-thumbnail {
	height: 85px;
	overflow: hidden;
	display: flex;
	opacity: .5;
	cursor: pointer
}
.gallery-item .modal-container .panel-thumbs a.play-trigger.current .video-thumbnail {
	opacity: 1;
	border: 4px solid #0096d6
}
.gallery-item .modal-container .panel-thumbs a.play-trigger .video-thumbnail img {
	width: 100%;
	max-width: 100%;
	display: block;
	height: auto
}
.gallery-item .panel-thumbs a.play-trigger .title-text {
	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 1
}
@media (min-width: 900px) and (max-width: 1100px) {
	.gallery-item .modal-container {
		max-width: 771px
	}
	.gallery-item .closeButton.videoClose {
		right: 20px;
		top: 20px
	}
}
@media (min-width: 800px) and (max-width: 900px) {
	.gallery-item .modal-container {
		max-width: 723px
	}
	.gallery-item .closeButton.videoClose {
		float: right;
		top: 15px;
		right: 70px
	}
}
@media (max-width: 800px) {
	.gallery-item .closeButton.videoClose {
		right: 20px;
		top: 20px
	}
	.gallery-item .modal-container {
		margin-top: 70px
	}
	.gallery-item .modal-container .video-container .video-item {
		margin-bottom: 25px
	}
	.gallery-item .modal-container .video-container .text-video {
		padding: 0 25px
	}
	.gallery-item .modal-container .panel-thumbs {
		margin: 0;
		padding: 25px;
		width: 100%
	}
}
@media (max-width: 671px) {
	.gallery-item .modal-container .panel-thumbs a.play-trigger {
		margin-right: 11px
	}
}
@media (max-width: 497px) {
	.gallery-item .modal-container .panel-thumbs {
		flex-wrap: wrap;
		padding: 20px
	}
	.gallery-item .modal-container .panel-thumbs a.play-trigger {
		max-width: 120px
	}
}
.scrolling-wrapper {
	position: relative
}
.scrolling-panel {
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch
}
.touch-device .scrolling-panel {
	overflow-x: scroll
}
.scroll-mask {
	position: absolute;
	z-index: 1000;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	background-color: #fff;
	display: block
}
.scrolling-panel .grid {
	width: 100%;
	padding: 0 15px
}
@media (min-width: 670px) and (max-width: 1280px) {
	.scrolling-panel .grid {
		width: 130%
	}
}
@media (max-width: 670px) {
	.scroll-mask {
		display: none
	}
}




td{
	font-size: 18px;
	padding:10px 5px;
	overflow:hidden;
	word-break:normal;
}

th{

	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	text-align: center;
}


.none{
	border-top: none;
	border-left: none;
	border-right-color: #ffffff;
	border-bottom-color: #c1c1c1;
}



.resourcesSection {
	padding: 100px 0;
}


#sticky {
	display: block;
	background-color: #546bcb;
	height: 70px;
}
#sticky.fixed {
	display: block;
	position: fixed;
	top: 0;
	width: 100%;
}

.stickyRow {
	padding:14px 0 0 0;
}


.stickyRow div {
	display:inline-block;
}

.stickyRow div a {
	text-decoration: none;
}
.molecule-999 .stickyRow>.row,
.molecule-hpi-999 .stickyRow>.row {
	display: block;
	margin: 0 auto;
}
.stickyRow>.row>.span8 {
	padding-left: 0;
}
@media screen and (min-width: 800px) {
	.stickyRow>.row>.span16 {
		padding-right: 0;
	}
	.stickyRow.sticky>.row {
		padding: 0 20px;
	}
}

.stickyButton {
	border: 1px solid;
	border-radius: 4px;
	background: none;
	color: #0096D6;
	display: inline-block;
	height: 45px;
	font-weight: normal;
	padding: 10px 22px;
	margin: 8px auto;
	font-size: 20px;
	line-height: 28px;
	white-space: nowrap;
	text-decoration: none;
}
.centerText {text-align:center;}

.stickyButton:hover div{ color: #ffffff !important; }

.font-color-theme1 .stickyButton:hover {
	border: 1px solid;
	border-radius: 4px;
	background: #ffffff!important;
	color: #0096D6!important;
}

.stickyRow .action-bts {
	display: block;
	text-align: right;
	white-space: normal;
	padding-bottom: 0;
	margin-bottom: 0;
}
.stickyRow .action-bts li {
	display: inline-block;
	padding: 8px 0 8px 3%;
}
.stickyRow .action-bts li>a {
	padding: 10px 22px;
	margin: 0;
}
.stickyRow .action-bts li>a>span {
	display: inline-block;
	vertical-align: middle;
}
.stickyRow .action-bts li:first-child {
	padding-left: 0;
}
.stickyRow .row.unshifted {
	max-width: none!important;
	background: #0096D6;
	position: relative;
}
.stickyRow .row.unshifted:before,
.stickyRow .row.unshifted:after {
	content: '';
	background: #0096D6;
	display: block;
	position: absolute;
	height: 100%;
	left: -100%;
	top: 0;
	width: 100%;
}
.stickyRow .row.unshifted:after {
	left: auto;
	right: -100%;
}
.stickyRow .colored-bg {
	text-align: center;
	display: block;
	margin-top: 10px;
	padding: 12px 25px;
}
.stickyRow .colored-bg p {
	margin-bottom: 0;
}
.section.hide-overflowing {
	overflow: hidden;
}
@media screen and (max-width:1200px){
	.responsiveClass {width:100%;margin:0 auto;text-align:center; padding: 0 20px;}
	.stickyRow .action-bts {
		text-align: center;
	}
}
@media screen and (max-width:1000px){
	.nav-activation-molecule-830.sticky {
		position: static;
	}
}


@media screen and (max-width: 800px) {
	.stickyRow .action-bts {
		text-align: center;
	}
	.stickyRow .action-bts li {
		padding: 5px 0;
		display: block;
	}
	.stickyRow .action-bts li > a {
		display: inline-block;
	}
	.responsiveClass {
		margin: 0;
		text-align: center;
	}
	.responsiveClass2 {
		margin: 0;
		text-align: center;
	}
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.bottom-bar {
	background-color: #0096D6;
	padding: 30px 0;
}

.bottom-bar > div > h2{
	color: #ffffff;
}

.bottom-bar > div {
	margin: 30px auto;
	max-width: 600px;
	text-align: center;
}

.bottom-bar > div > a, .bottom-bar >  div > span {
	color: #ffffff;
}