$brand-grid-columns: 12;
$brand-grid-column-padding: 1.04%;
$brand-grid-row-margin: -1.04%;

.row {
  @extend %clearfix;

  text-align: center;

 /* @include desktop {
    margin-left: $brand-grid-row-margin;
    margin-right: $brand-grid-row-margin;
  }*/
}

[class*='column-'] {
  float: left;
  width: 100%;
  padding-left: $brand-grid-column-padding;
  padding-right: $brand-grid-column-padding;
  min-height: 1px;
}

@media only screen and (max-width: $bp-medium) {
  @for $i from 1 through $brand-grid-columns {
    .column-s-#{$i} {
      width: 100% / $brand-grid-columns * $i;
    }
  }
}

@media only screen and (min-width: $bp-medium + 1) {
  @for $i from 1 through $brand-grid-columns {
    .column-m-#{$i} {
      width: 100% / $brand-grid-columns * $i;
    }
  }
}

@media only screen and (min-width: $bp-x-large) {
  @for $i from 1 through $brand-grid-columns {
    .column-l-#{$i} {
      width: 100% / $brand-grid-columns * $i;
    }
  }
}

.row.col-center {
  @include desktop {
    text-align: center;
  }

  >[class*='column-'] {
    @include desktop {
      display:inline-block;
      float:none;
      vertical-align: top;
    }
  }
}