section.hp-devices {
  padding: 70px 20px 0;
  .block-title {
    max-width: 1050px;
    margin: 0 auto 50px;
    h3 {
      font-size: 36px;
      color: #000;
      letter-spacing: 4.8px;
      text-transform: uppercase;
    }
  }
  .block-slider {
    max-width: 1280px;
    margin: 0 auto;
    .cell {
      display: inline-block;
      width: 33%;
      .cell-image {
        margin-bottom: 50px;
      }
      span{
        font-size: 20px;
        line-height: 30px;
        color: #5a5a5a;
        letter-spacing: .5px;
      }
    }
  }

  .bg-image {
    margin-top: 20px;
    img {
      position: relative;
      transform: translateY(30px);
    }
  }
  @media screen and (max-width: 1000px) {
    padding-top: 30px;
    padding-bottom: 60px;

    .block-title {
      h3 {
        font-size: 28px;
        letter-spacing: normal;
      }
    }
    .block-slider {
      .cell-image {
        img {
          margin: 0 auto;
        }
      }
      .description {
        display: none;
      }
    }
    .bg-image {
      margin-top: 60px;
      img{
        max-width: 70%;
        transform: translateY(0);
      }
    }
  }

  @media screen and (max-width: 800px) {
    .bg-image {
      img{
        max-width: 80%;
      }
    }
  }
}