section.lifecycle {
  background-color: #272727;

  .section {
    position: relative;
  }

  .graph-wrapper .text-above{
    margin-top: 70px;
  }

  .icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url("../i/gateway/lifecycle_icon_sprite.png");
    background-repeat: no-repeat;
    transition-duration: 0s;

    &.icon-design {
      background-position: 1px -37px;
    }
    &.icon-configure {
      background-position: -38px -37px
    }
    &.icon-deploy {
      background-position: -75px -37px;
    }
    &.icon-optimize {
      background-position: -113px -37px;
    }
    &.icon-maintain {
      background-position: -152px -37px;
    }
    &.icon-dispose {
      background-position: -189px -37px;
    }
  }

  li.service.active, .accordion.active .accordion-head,
  li.service:hover {
    a {
      color: #ffffff;
    }
    .icon {
      &.icon-design {
        background-position: 1px 1px;
      }
      &.icon-configure {
        background-position: -38px 1px
      }
      &.icon-deploy {
        background-position: -75px 1px;
      }
      &.icon-optimize {
        background-position: -113px 1px;
      }
      &.icon-maintain {
        background-position: -152px 1px;
      }
      &.icon-dispose {
        background-position: -189px 1px;
      }
    }
  }

  .right-navigate {
    li.service:first-of-type a {
      position: absolute;
      line-height: 1.4;
    }
  }

  li.service {
    position: relative;
    span {
      float: left;
    }
    a {
      vertical-align: top;
      line-height: 40px;
      text-transform: uppercase;
      color: #8d8e8f;
      float: left;
    }
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .circle-component {
    padding-bottom: 160px;
    position: relative;
    left: 50%;
    transform: translateX(-51%);
    z-index: 1;

    > div {
      display: inline-block;
      vertical-align: middle;
    }

    ul {
      list-style: none;
    }
    ul li {
      padding: 10px 20px;
      cursor: pointer;
    }

    .left-navigate,
    .right-navigate{
      text-align: left;
      span {
        margin-right: 20px;
      }
    }
  }

  .lifecycle-bg-image {
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0;
    background: url("../i/gateway/lifecycle-bg.png") no-repeat;
    background-size: cover;
    background-position: 50% 100%;

    img {
      width: 100%;
      position: relative;
      bottom: -5px;
    }
  }

  .circle {
    position: relative;

    .text-box{
      width: 85%;
      position: absolute;
      top: 42%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .text-block {
      position: relative;
      display: none;
      color: white;
      p {
        text-transform: uppercase;
        margin-bottom: 15px;
      }
      span {
        line-height: 1.5;
      }
      a {
        display: block;
        color: white;
        text-decoration: underline;
      }
    }
  }
  .mobile-lifecycle {
    display: none;
  }

  @media screen and (max-width: 1000px) {
    .mobile-lifecycle {
      display: block;
    }
    .circle-component,
    .lifecycle-bg-image {
      display: none;
    }
    .text-above {
      h3 {
        font-size: 28px;
      }
      .description {
        display: none;
      }
    }
    .accordion {
      .accordion-head {
        border-top: 1px solid #6b6b6b;
        border-bottom: none;
        color: #8d8e8f;
        padding: 30px 20px;
        position: relative;
      }
      .accordion-body {
        text-align: center;
        position: relative;

        img {
          display: inline-block !important;
          margin: 30px auto;
        }

        .text-block {
          color: #ffffff;
          width: 200px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin: 0;
          transform: translate(-50%, -50%);

          span {
            line-height: 1.3;
          }

          a {
            display: block;
            color: white;
            text-decoration: underline;
          }
        }
      }
      .icon {
        position: absolute;
        left: 25px;
        top: 50%;
        transform: translateY(-50%);
      }

      &.active {
        background-color: #323232;

        .accordion-head {
          background-color: #323232;
          color: #ffffff;
        }
      }
    }
  }
}