section {
  ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;

    li {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  ol {
    list-style-type: decimal;
    padding-left: 15px;

    li {
      margin-bottom: 1em;
    }
  }
}

