.plans {
	padding-top: 40px;

	@include desktop {
		padding-top: 70px;
	}

	.description {
		line-height: 25px;
	}
}

.table-container {
	display: none;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding-top: 60px;

	@include desktop {
		display: block;
	}

	table {

		tr {
			td:first-of-type {
				text-align: left;
				padding-left: 20px;
			}
		}

		td {
			color: #767676;
		}

	}
}

.table_block table tr {
	color: #767676;
	text-align: left;
}

.tg .td{
	vertical-align:top;
}

table tbody .rowtitle td{
	font-size: 24px !important;
	font-family: HPSimplified;
	border-top: 1px solid #cccccc;
	border-bottom: none;
	border-right: none;
	border-left: none;
	color: #767676;
}

.grayrow {
	background-color: #f1f1f1;
}

table tbody tr .standardtitle{
	background-color:#0096d6;
	color:#ffffff;
	vertical-align:top;
	text-align: center;
	border-left-color: #c1c1c1;
}

table tbody tr .enhancedtitle{
	background-color:#1159a0;
	color:#ffffff;
	vertical-align:top;
	text-align: center;
	border-left-color: #c1c1c1;
}

table tbody tr .premiumtitle{
	background-color:#73459c;
	color:#ffffff;
	vertical-align:top;
	text-align: center;
	border-left-color: #c1c1c1;
}

.essential{
	background-color:#0e80ce;
	color:#ffffff;
	vertical-align:top;
	text-align: center;
	border-left-color: #c1c1c1;
}

.standardcolumn{
	border-left: solid 1px #0096d6 !important;
	border-right: solid 1px #0096d6 !important;
	border-top: none;
	border-bottom: none;
	text-align: center;
}

.enhancedcolumn{
	border-left: solid 1px #1159a0 !important;
	border-right: solid 1px #1159a0 !important;
	border-top: none;
	border-bottom: none;
	text-align: center;
}

.premiumcolumn{
	vertical-align:top;
	border-left: solid 1px #73459c !important;
	border-right: solid 1px #73459c !important;
	border-top: none;
	border-bottom: none;
	text-align: center;
}

table tr:last-child .standardcolumn {
	border-bottom: solid 1px #0096d6;
}

table tr:last-child .enhancedcolumn {
	border-bottom: solid 1px #1159a0;
}

table tr:last-child .premiumcolumn {
	border-bottom: solid 1px #73459c;
}

.tailor-plan {
	margin: 40px 0 20px;

	.row {
		padding: 20px;
		background:#f6f6f6;
		color: #767676;
	}

	h5 {
		font-weight: bold;
		margin-bottom: 1em;
	}
}

.mobile-plans {
	margin-top: 30px;

	@include desktop {
		display: none;
	}
	.accordion {
		.accordion-head {
			&:after {
				color: #fff;
			}
		}

		.accordion-body {
			color: #767676;
			h5 {
				color: #5a5a5a;
			}
		}

		&.plan-standard {
			.accordion-head {
				background: #0096d6;
				border-bottom-color: #e5f4fb;
			}
			.accordion-body {
				background: #e5f4fb;
			}
		}
		&.plan-enhanced {
			.accordion-head {
				background: #1159a0;
				border-bottom-color: #e7eef5;
			}
			.accordion-body {
				background: #e7eef5;
			}
		}
		&.plan-premium {
			.accordion-head {
				background: #73459c;
				border-bottom-color: #f1ecf5;
			}
			.accordion-body {
				background: #f1ecf5;
			}
		}
	}
}

