.resources-section {
  padding: 0 20px 30px 20px;

  @include desktop {
    padding: 100px 0;
  }

  .resource-title-mobile {
    @include desktop {
      display: none;
    }
  }

  .resource-title-dt {
    display: none;

    @include desktop {
      display: block;
    }
  }
}
.resource-block {
  width: 100%;

  img {
    max-width: 100%;
  }

  @include desktop {
    display: table;
    margin: 0 auto;
  }

   @include desktop {
     max-width: 1280px;
   }
  
 .content-box {
   &:first-child {
     margin-bottom: 30px;
     @include desktop {
       text-align: right;
       margin-bottom: 0;
     }
   }
   @include desktop {
     display: table-cell;
     width: 50%;
     vertical-align: middle;
   }

 }
}
