.sticky-section{
  height: 100px;
  .sticky-bar {
    height: 100px;
    width: 100%;
    text-align: center;
    background-color: #0096d6;
    color: white;
    font-size: 18px;

    @include desktop {
      font-size: 24px;
    }

    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
    }

    .sticky-wrapper {
      max-width: 1240px;
      height: 100%;
      margin: 0 auto;
      position: relative;
      padding: 0 20px;

      span, a {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        vertical-align: top;
        display: inline-block;
      }
      span {
        float: left;
      }
      a {
        color: white;
        &.desktop {
          float: left;

          &:after {
            position: absolute;
            border: 6px solid transparent;
            border-left: 8px solid white;
            top: 8px;
            right: 0;
          }
        }

        &.mobile {
          display: none;
          padding-right: 20px;

          &:after {
            content: '|';
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }
    }

    .button {
      border-radius: 4px;
      background: none;
      color: #ffffff;
      display: inline-block;
      height: auto;
      padding: 14px 45px;
      font-size: 18px;
      border: 1px solid #ffffff;
      text-transform: uppercase;
      float: right;
      &:hover {
        background: #ffffff;
        border-color: #ffffff;
        color: #0096D6;
        cursor: pointer;
      }
    }

    @media screen and (max-width: 1000px) {
      height: auto;
      .sticky-wrapper {
        height: auto;
        text-transform: uppercase;
        padding: 20px 0;

        span, a {
          display: none;
        }
        a {
          display: inline-block;
          border: none;
          padding: 0;
          font-size: 16px;
          line-height: 20px;
          float: none;
          transform: translateY(0);

          &.desktop {
            display: none;
          }

          &.mobile {
            display: inline-block;
          }

          &.button {
            margin-left: 10px;
          }

          &:hover{
            background: none;
            color: white;
          }
        }
      }
    }
  }
  @media screen and (max-width: 800px){
    height: auto;
  }
}
