.ovf-hidden {
  overflow: hidden;
}
.ovf-hidden {
  section.popups {
    z-index: 10;
  }
}
section.popups  {
  z-index: 0;
  height: 100%;
  width: 100%;
}

.youtube-popup {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0,0,0,.8);

  iframe, object{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .video-container {
    width: 100%;
    max-width: 964px;
    background: transparent;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
  }
  .iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }
  .close-popup{
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;

    &:before,
    &:after{
      content: '';
      position: absolute;
      left: 11px;
      top: 23px;
      width: 30px;
      height: 2px;
      background-color: #fff;
      display: block;
    }
    &:before{
      transform: rotate(45deg);
    }
    &:after{
      transform: rotate(-45deg);
    }
  }
}