main > section.popups  {
    z-index: 0;
    height: 100%;
    width: 100%;
}
.ovf-hidden {
    main > section.popups {
        z-index: 10;
    }
}
.youtube-popup {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    iframe, object{
        background: black;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .close-popup{
        position: absolute;
        right: 0;
        top: 0;
        height: 50px;
        width: 50px;
        cursor: pointer;
        background: black;
        &:before,
        &:after{
            content: '';
            position: absolute;
            left: 11px;
            top: 23px;
            width: 30px;
            height: 2px;
            background-color: #fff;
            display: block;
        }
        &:before{
            transform: rotate(45deg);
        }
        &:after{
            transform: rotate(-45deg);
            }
    }
}